@media only screen and (min-width: 768px) {
    
    #aboutUs , #ourWork {
        padding: 0 170px;
    }
    
    .images {
        height: 120px;
    }
    
    header{
        position: sticky;
        
    }
    
    .icon {
        display: none;
    }
    
    .nav1 {
        display: none;
    }
    
    #nav2 {
        display: none;
    }
    
    #nav3 {
        display: inline;
        float: right;
        padding-top: 10px;
        font-size: 17px;
    }
    
    #nav3 a {
        color: #a1a3a6;
        padding: 0 8px;
    }
    
    #nav3 a:hover {
        color: #bbd547;
        transition: 0.3s;
    }
    
    #nav3 a:active {
        color: #81b36e;
    }
    
    #nav3 a:focus {
        color: #429099;
    }
    
    #nav3 a:visited {
        color: #1375b8;
    }
    
    .mySlides {
        height: 300px;
    }
    
    .text {
        font-size: 48px;
        padding-left: 17%;
        padding-bottom: 70px;
    }
    
    #footerMenu {
        display: inline;
        margin-left: 15%;
    }
    
    #footerMenu a {
        text-decoration: none;
        color: #a1a3a6;
    }
    
    #footerMenu a:hover {
        color: #bbd547;
        transition: 0.3s;
    }
    
    #footerMenu a:active {
        color: #81b36e;
    }
    
    #footerMenu a:focus {
        color: #429099;
    }
    
     #footerMenu a:visited {
        color: #1375b8;
    }
    
}