@font-face{
    font-family:DINPro;
    src: url (font/DINPro Regular.otf);
}

body {
    font-family: DINPro;
    color: #757575;
}

.container {
    column-width: 50px;
    column-gap: 50px;
}

a {
    text-decoration: none;
}

#gradientLine {
    height: 10px; 
    background-image: linear-gradient(to right, #bbd547,#81b36e, #429099, #1375b8);    
}

#aboutUs , #ourWork {
    text-align: center;
    column-count: 1;
    padding: 0 50px;
}

#ourWork .card .images {
    width: 188px;
    height: 110px
}

.card {
    margin-bottom: 40px;
}

.images {
    background: #e9e9e9;
    column-count: 1;
}

.images img{
    padding: 30px 40px;
}

.article {
    text-align: left;
    padding-top: 0;
}

.article p {
    display: none;
    font-size: 13px;
}

h3 {
    text-align: center;
    font-size: 30px;
}

h4 {
    margin-top: 0;
    font-size: 15px;
}
.right {
    text-align: right;
    font-size: 13px;

}

.right a {
    background: #e9e9e9; 
    padding: 5px 5px;
    color: #646464;
}

.right a:hover{
    color: white;
    background: #bbd547;
}

#ourWork div {
    margin-bottom: 30px;
}

body a img:hover {
    color: #bbd547;
}

#nav3 {
    display: none;
}

#nav2{
    display: none;
}

.nav1 {
    overflow: hidden;
    position: relative;
    display: none;
}

.nav1 a {
    color: white;
    border-bottom: 2px;
    padding: 4px 5px;
    margin-bottom: 1px;
    text-decoration: none;
    font-size: 14px;
    display: block;
}

.nav1 a:first-child {
    background: #bbd547;
}

.nav1 a:nth-child(2) {
    background: #81b36e; 
}

.nav1 a:nth-child(3) {
    background: #429099; 
}

.nav1 a:last-child {
    background: #1375b8; 
}

.icon {
    float: right;
    margin-right: 10px;
    margin-top: 4%;
    color: #646464;
}

.icon:focus {
    color: #bbd547;
}


#sliderBig {
    display: none;
}

#search {
    margin-top: 4%;
    margin-right: 10px;
    float: right;
    }

.searchBar {
    width: 96%;
    padding: 6px;
    display: none;
    margin-bottom: 4px;
    border: 1px solid #757575;
}

footer {
    overflow: auto;
}

#social {
    padding: 6px 4px;
}

#social a {
    margin: 0 10px;
}

#social #up{
    float: right;
}

#footerMenu {
    display: none;
}