@media only screen and (min-width: 480px){
    
    #aboutUs , #ourWork {
        padding: 0 30px;
    }
    
    h3 {
        text-align: left;
    }
    
    h4 {
        margin-bottom: 4px;
    }
    
    .card {
        column-count: 2;
    }  
    
    .article p {
        display: inline;
        font-size: 13px;
    }
    
    
    #ourWork div {
        column-count: 2;
        
}
    .work {
        column-count: 2;
    }
    
    .nav1 {
        display: none;
    }
    
    .icon {
        display: none;
    }
    
    #nav3 {
        display: none;
    }
    
    #nav2 {
        display: inline;
        float: right;
        padding-top: 13px;
    }
    
    #nav2 a {
        margin: 0 10px;
    }
    
    #nav2 a img:hover {
        filter: invert(100%) sepia(52%) saturate(2677%) hue-rotate(11deg) brightness(98%) contrast(69%);
        transition: 0.3s;
    }
    
    #nav2 a img:active {
        filter: invert(71%) sepia(8%) saturate(1872%) hue-rotate(59deg) brightness(94%) contrast(80%);
    }
    
    #nav2 a img:focus {
        filter: invert(44%) sepia(98%) saturate(241%) hue-rotate(138deg) brightness(94%) contrast(87%);
    }
    
    #nav2 a img:visited{
        filter: invert(28%) sepia(100%) saturate(1112%) hue-rotate(180deg) brightness(98%) contrast(86%);
    }
    
    .card .images img:hover{
        filter: invert(71%) sepia(8%) saturate(1872%) hue-rotate(59deg) brightness(94%) contrast(80%);
    }
    
    #sliderBig {
        display: inline;
    }
    
    .slideshow-container {
        position: relative;
        margin: auto;
        }
    
    .mySlides {
        position: relative;
        display: none;
        height: 200px;
        background-color: #f3f3f3;
    } 
    
    .mySlides img {
        margin-top: 13%;
    }
    
    
    /* Caption text */
    .text {
        font-size: 37px;
        padding-left: 5%;
        padding-bottom: 2%;
        position: absolute;
        bottom: 8px;
        width: 100%;
    }
    .text div {
        display: inline-block;
    }
    
    
    /* The dots */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    .active, .dot:hover {
      background-color: #bbd547;
    }
    
}